.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1100px;
  height: fit-content;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.search-bar {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  position: relative;
}

.search-bar input[type="text"] {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  padding-right: 55px;
  border: 2px solid #61a6ab;
  border-radius: 10px;
  font-size: 16px;
  background-color: #f7f7f7;
}

.glass {
  width: 30px;
  height: 30px;
  background-image: url("../../assets/svg/lupa.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 10px;
  right: 15px;
}

.search-bar input[type="text"]:focus {
  outline: none;
}

.boxcard {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  padding: 1rem 0;
  gap: 2.4rem;
}

.card {
  border: 3px solid #61a6ab;
  border-radius: 35px;
  padding: 1rem 1.5rem;
  width: 31%;
  max-width: 500px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-width: 250px;
}

.confirmation-card-container {
  width: 80%;
  position: fixed;
  bottom: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
}

.confirmation-card {
  border: 3px solid #61a6ab;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 250px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 15px;
}

.card-title {
  color: #61a6ab;
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
}

.btn-buy {
  background-color: #69b655;
  color: white;
  padding: 6px 55px;
  border: none;
  cursor: pointer;
}

.btn-buy:hover {
  background-color: #427435;
}

.modal-text {
  width: 100%;
  text-align: center;
  color: #61a6ab;
}

.shoppincart-modal {
  border: 3px solid #61a6ab;
  border-radius: 20px;
  padding: 0;
}

.shoppincart-modal p {
  font-size: 18px;
}

.shoppincart-modal button {
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin-top: 2%;
  cursor: pointer;
  width: 46%;
  max-width: 200px;
  margin: 0 5px;
}

.shoppincart-modal .buttons-box button:nth-of-type(1) {
  background-color: #e64141;
}

.shoppincart-modal .buttons-box button:nth-of-type(2) {
  background-color: #69b655;
}

.shoppincart-modal .buttons-box button:nth-of-type(1):hover {
  background-color: darkred;
}

.shoppincart-modal .buttons-box button:nth-of-type(2):hover {
  background-color: #3b6835;
}
