.login-container {
  background: #61A6AB;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
}

.login-form {
  background: white;
  width: 320px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.login-form h2 {
  color: #000000; /* Cor do texto */
  margin-bottom: 20px;
}

.login-form input {
  padding: 10px;
  margin: 10px 0;
  width: 50%;
  border: 1px solid #000000;
  border-radius: 5px;
}



.login-form button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #a3c1c4;
  color: rgb(0, 0, 0); /* Altere a cor do texto para a cor desejada, por exemplo, "white" para branco */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
