.card {
  border: 3px solid #61a6ab;
  border-radius: 35px;
  padding: 1rem 1.5rem;
  width: 31%;
  max-width: 500px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-width: 250px;
  margin: 1rem 0;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-body .remove-button {
  display: flex;
  justify-content: center;
}

.card-body .remove-button button {
  background-color: #e64141;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin-top: 2%;
}

.card-body .remove-button button:hover {
  background-color: darkred;
}

.card-body .form-groupcod label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.form-group {
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.form-group label {
  color: #61a6ab;
  font-weight: bold;
}

.form-group:nth-of-type(1) {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 5px 0;
}

.form-group:nth-of-type(1) span {
  margin-left: 5px;
}
