.product-card .card-body {
  display: flex;
  flex-direction: column;
}

.product-card .card-body .buttons-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.product-card .card-body .buttons-box button {
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin-top: 2%;
  cursor: pointer;
  width: 46%;
  min-width: 140px;
}

.product-card .card-body .buttons-box button:nth-of-type(1) {
  background-color: #e64141;
}

.product-card .buttons-box button:nth-of-type(2) {
  background-color: #d3cb09;
}

.card-body .buttons-box button:nth-of-type(1):hover {
  background-color: darkred;
}

.card-body .buttons-box button:nth-of-type(2):hover {
  background-color: #5e5b03;
}

.card-body .form-groupcod label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.product-card .form-group {
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.product-card .form-group label {
  color: #61a6ab;
  font-weight: bold;
}

.product-card .form-group:nth-of-type(1) {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 5px 0;
}

.product-card .form-group:nth-of-type(1) span {
  margin-left: 5px;
}

.product-modal {
  border: 3px solid #61a6ab;
  border-radius: 20px;
  padding: 0;
  height: fit-content;
}

.product-modal .modal-text {
  font-size: 18px;
  padding: 20px 0;
  width: 80%;
  margin: 0 auto;
}

.product-modal .modal-warning {
  font-size: 18px;
  padding: 20px 0;
  width: 70%;
  margin: 0 auto;
  color: gray;
  margin-bottom: 20px;
}

.product-modal button {
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin-top: 2%;
  cursor: pointer;
  width: 46%;
  max-width: 200px;
  margin: 0 5px;
}

.product-modal .buttons-box button:nth-of-type(1) {
  background-color: #e64141;
}

.product-modal .buttons-box button:nth-of-type(2) {
  background-color: #69b655;
}

.product-modal .buttons-box button:nth-of-type(1):hover {
  background-color: darkred;
}

.product-modal .buttons-box button:nth-of-type(2):hover {
  background-color: #3b6835;
}

.product-modal .product-input-group {
  width: 200px !important;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #61a6ab;
  margin-bottom: 30px;
}

.product-modal .product-input-group img {
  margin: 0 5px;
  cursor: pointer;
}

.product-modal input[type="number"] {
  width: 50px;
  height: 30px;
  padding: 10px 20px;
  border: 2px solid #61a6ab;
  border-radius: 10px;
  font-size: 16px;
  background-color: #f7f7f7;
  color: #a4a4a4;
}

.product-modal input[type="number"]:focus {
  outline: none;
}
