.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1100px;
  height: fit-content;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.search-bar {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  position: relative;
}

.search-bar input[type="text"] {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  padding-right: 55px;
  border: 2px solid #61a6ab;
  border-radius: 10px;
  font-size: 16px;
  background-color: #f7f7f7;
}

.glass {
  width: 30px;
  height: 30px;
  background-image: url("../../assets/svg/lupa.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 10px;
  right: 15px;
}

.search-bar input[type="text"]:focus {
  outline: none;
}

.product-boxcard {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  align-content: center;
  gap: 2.4rem;
  padding: 1rem 0;
}

.product-card {
  border: 3px solid #61a6ab;
  border-radius: 35px;
  padding: 1rem 1.5rem;
  width: 31%;
  max-width: 500px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-width: 250px;
}
