.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 1100px;
  height: fit-content;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.form-box {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-box form {
  width: 80%;
}

.product-input-group {
  display: flex;
  flex-direction: column;
  color: #61a6ab;
  margin-bottom: 30px;
}

.product-input-group input[type="text"],
.product-input-group input[type="number"] {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border: 2px solid #61a6ab;
  border-radius: 10px;
  font-size: 16px;
  background-color: #f7f7f7;
  color: #a4a4a4;
}

.product-input-group input[type="text"]:focus,
.product-input-group input[type="number"]:focus {
  outline: none;
}

.register-button-box {
  width: 100%;
  text-align: center;
}

.register-button {
  width: 200px;
  padding: 6px 45px;
  background-color: #69b655;
  color: white;
  cursor: pointer;
  outline: none;
  border: 0;
  margin-top: 150px;
}

.register-button:hover {
  background-color: #427435;
}

.register-product-modal {
  border: 3px solid #61a6ab;
  border-radius: 20px;
  padding: 0;
}

.register-product-modal p {
  font-size: 18px;
  padding: 20px 0;
  width: 80%;
  margin: 0 auto;
}

.register-product-modal button {
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin-top: 2%;
  cursor: pointer;
  width: 46%;
  max-width: 200px;
  margin: 0 5px;
}

.register-product-modal .buttons-box button:nth-of-type(1) {
  background-color: #e64141;
}

.register-product-modal .buttons-box button:nth-of-type(2) {
  background-color: #69b655;
}

.register-product-modal .buttons-box button:nth-of-type(1):hover {
  background-color: darkred;
}

.register-product-modal .buttons-box button:nth-of-type(2):hover {
  background-color: #3b6835;
}
